h3{
    font-family: 'avenir',sans-serif;
    font-weight:700;
    font-size: 55px;
    color: var(--headingColor);
}

p{
    line-height: 30px;
    font-size: 15px;
    font-family: var(--poppins);
    font-weight: 300;
}

span{
    font-weight: 600;
}