<app-nav></app-nav>

<div class="w-[85%] mx-auto">

    <div class="flex mt-20 items-center justify-center lg:justify-start">
    <div class="grid grid-cols-1 lg:grid-cols-3 w-[90%]">
<div class="py-16 lg:col-span-2">
    <h3 class="w-full lg:w-[80%]">“We Focus on Helping Clients sell Property within 60 days or less.”</h3>
    <p class="name">Oma Daniel</p>
    <p class="italic description">Property Consierge at Blue Earth Properties </p>
    <button class="p-2 px-4 my-5 text-white bg-[#0072C6] rounded hover:bg-[#289416] transition-all" (click)="toggleModal()" >Get Started</button>
</div>
    
<div class="aspect-w-16 aspect-h-9">
<iframe class="mt-20 mb-20 w-full h-full lg:h-[300px] lg:w-[500px]" src="https://www.youtube.com/embed/0alQNxvhQHI" title="September 12, 2023" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

</div>
</div>

<h3 class="text-center my-6 sellHead">Want Your Property Sold Within 60 Days? Here’s How.</h3>

<div class="flex justify-center mb-24">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 py-3">
        <div class="card w-96  border-dashed border-black border hover:text-white hover:bg-[#0072C6] hover:border-none">
            <p class="cardNumber tag ">01</p>
            <p class="cardTitle tag ms-3">INITIAL CONSULTATION</p>
           <p class="tag cardParagraph ms-3 w-[92%] mb-12">  Our journey begins with a conversation. We will 
           sit with you to discuss your goals, timeline, and
           any specific need you have. This will help us to 
           create a customized strategy for your property.</p>
        </div>
        <div class="card w-96  border-dashed border-black border hover:text-white hover:bg-[#0072C6] hover:border-none">
            <p class="cardNumber tag ms-3">02</p>
            <p class="cardTitle tag ms-3">PROPERTY ASSESSMENT 
                AND PREPARATION</p>
           <p class="tag cardParagraph mb-12 ms-3 w-[92%]">  Our team of experts will visit your property to 
            assess its condition and identify any necessary
             improvement to maximize its appeal. We can also 
            connect you with trusted contractors to handle 
            these upgrades if required.</p>
        </div>
        <div class="card w-96  border-dashed border-black border hover:text-white hover:bg-[#0072C6] hover:border-none">
            <p class="cardNumber tag">03</p>
            <p class="cardTitle tag ms-3">STRATEGIC PRICING</p>
           <p class="tag cardParagraph w-[92%] mb-12 ms-3"> We will conduct a thorough market analysis to 
            determine the optimum pricing strategy for your 
            property. Our goal is to find the sweet spot that 
            attract buyers while ensuring you get the best value.</p>
        </div>
        
        <div class="card w-96  border-dashed border-black border hover:text-white hover:bg-[#0072C6] hover:border-none">
            <p class="cardNumber tag">04</p>
            
            <p class="cardTitle tag ms-3">MARKETING BLITZ</p>
           <p class="tag cardParagraph w-[92%] mb-12 ms-3">  This is where our marketing magic begins. We will 
            create stunning visuals, including professional 
            photos and virtual tours to showcase your
             property. Your listing will be featured on popular
             real estate websites, and we will launch targeted 
            social media and traditional campaigns to reach
             potential buyers.</p>
        </div>
        <div class="card w-96  border-dashed border-black border hover:text-white hover:bg-[#0072C6] hover:border-none">
            <p class="cardNumber tag">05</p>
            <p class="cardTitle tag ms-3">SHOWINGS AND OPEN 
                HOUSES</p>
           <p class="tag cardParagraph w-[92%] mb-12 ms-3">  Our team will coordinate showing and open houses 
            to give buyers the opportunity to experience your
             property in person. we will handle the logistics to 
            ensure a smooth process.</p>
        </div>
        <div class="card w-96  border-dashed border-black border hover:text-white hover:bg-[#0072C6] hover:border-none">
            <p class="cardNumber tag">06</p>
            <p class="cardTitle tag ms-3">CLOSING THE DEAL</p>
           <p class="tag cardParagraph w-[92%] mb-12 ms-3">  Once we have accepted the offer, our team will 
            guide you through the closing process, ensuring  all
             the necessary document are in order. We will be
             there every step of the way until the keys are 
            handed to the new owner.</p>
        </div>
    </div>
</div>



</div>

<section class="h-[45vh] flex items-center bg-black">
    <div class="w-[90%] mx-auto">

    <div class="flex justify-between items-center">
    <h4>Contact Us</h4>
    <a routerLink="/contact" class="hover:bg-[#0072C6] hover:text-white hover:shadow-sm hover:transition-all h-12 text-black text-lg rounded font-['poppins'] bg-white p-3">Contact Us</a>
    </div>
    <p class="contactParagraph">If you have further enquires or you would like to book a free consultation contact us</p>
    
    
    </div>
</section>

<app-footer></app-footer>

<!-- modal -->
<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
          <h3 class="text-2xl modalHeader font-['poppins'] text-[#0F2B8E] font-semibold">
            Sell Your Property
          </h3>
          <button class="p-1 ml-auto float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
            <span class="text-red-700 material-symbols-outlined">
              close
              </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <p class="text-xl font-medium font-['poppins']">Sell Your Property within 60 Days with Blue Earth Properties</p>
          <p class="text-sm italic font-light font-['poppins'] my-3"><span class="text-red-500">*</span> All Fields are Required </p>
          <form>
  
          <div class="mb-2">
            <label for="fullName" class="block mb-2 font-['poppins'] text-[#3F3D56]">Full Name</label>
            <input type="text" class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 mb-3 leading-tight focus:outline-blue-300 focus:shadow-outline" placeholder="John Doe" required>
          </div>
  
          <div class="mb-2">
            <label for="location" class="block mb-2 font-['poppins'] text-[#3F3D56]">Property Location</label>
            <input type="text" class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 mb-3 leading-tight focus:outline-blue-300 focus:shadow-outline" placeholder="Location" required>
          </div>

          <div class="mb-2">
            <label for="email" class="block mb-2 font-['poppins'] text-[#3F3D56]">Email</label>
            <input type="email" class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 mb-3 leading-tight focus:outline-blue-300 focus:shadow-outline" placeholder="JohnDoe@mail.com" required>
          </div>
  
          <div>
            <label for="telephoneNumber" class="block mb-2 font-['poppins'] text-[#3F3D56]">Phone Number</label>
            <input type="tel" class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 mb-3 leading-tight focus:outline-blue-300 focus:shadow-outline" placeholder="+23480123456789" required>
          </div>
  
          
          </form>
  
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
          <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
            Close
          </button>
          <button class="bg-[#0072C6] text-white  font-bold capitalize font-['poppins'] text-sm px-4 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>