<app-nav></app-nav>

<section class="container mx-auto">

<section class="mb-6">
    <img src="https://picsum.photos/1300/300" alt="img">
</section>

<section>
    <h3 class="text-center my-4 text-6xl font-extrabold font-['poppins'] text-[#0F2B8E]">lorem Ipsum</h3>

    <div class="flex justify-center items-center">
        <img src="assets/userAvatar.png" class="w-7 h-7" alt="img avatar">
        <p class="mx-3 font-semibold font-['poppins'] text-[#3F3D56]">Blue Earth Properties</p>
        
           <div class="w-1 h-1 mr-3 bg-[#3F3D56] rounded-full"></div>
            <p class="font-['poppins'] text-[#3F3D56]">Nov 6, 2023</p>
    
    </div>

    <p class="py-10 w-[85%] mx-auto font-['poppins']">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id quis in architecto, laudantium nobis 
        expedita consectetur fugiat impedit consequatur dolores odit blanditiis enim a dicta numquam. Nemo 
        sunt magni obcaecati vitae repellat temporibus assumenda voluptates, rem vel esse sit deserunt tempora 
        qui voluptas facere maxime quibusdam officia maiores quaerat? Quidem, nobis maxime delectus id dicta,
         porro adipisci iusto alias dolore quo cumque odit in corrupti necessitatibus, amet eveniet incidunt
          fugiat blanditiis quos! Aspernatur dicta eaque quod atque quae culpa error, fuga id perspiciatis 
          aliquid vero provident neque praesentium accusantium totam, nobis molestias, labore quam nisi numquam
           blanditiis! Blanditiis, corporis. Maiores?</p>
</section>

</section>

<app-footer></app-footer>