h3{
    font-family: 'avenir',sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: var(--headingColor);
    line-height: 58px;
}

p{
    color: var(--txtColor);
}

.investParagraph{
    color: var(--txtColor);
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 15px;
}

h4{
    font-family: 'avenir',sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: var(--headingColor);
}

.cardHead{
    font-size: 24px;
    font-weight: 600;
    font-family: var(--poppins);
    color: var(--headingColor);
}

.cardTxt{
    font-family: var(--poppins);
    font-weight: 300;
    color: #8F8A8A;
    font-size: 14px;
}

span{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--poppins);
}

.price{
    font-family: var(--poppins);
    color: #3F3D56;
    font-size: 16px;
    font-weight: 600;
}

div > button{
    font-family: var(--poppins);
    font-weight: 400;
}