<app-nav></app-nav>

<section class="w-[88%] mx-auto">

<h3 class="w-[70%] p-2 pt-10">Get up to 50% on your investment 
    by investing in Real Estate. </h3>

<p class="investParagraph w-[67%] p-2">How would you like to invest in real estate through Blue 
    earth Properties. With investment in Blue Earth Properties, 
    you Get up to 30% to 50% of returns on your investments 
    within a period of 6 - 36 month. With a minimum of five 
    hundred thousand naira.</p>    

 
<h4 class="mt-2 ps-2">Get Started</h4>

<p class="investParagraph w-[67%] p-2">Get Started on  any of the Partnership Packages below. 
    Fill in your information, you will receive an email 
    immediately. Follow the instruction in the email. 
    Once we receive your investment , you will get 
    an ``Email of Confirmation`` from Blue Earth Properties. 
    Aftrerwards, one of our Investment Directors will call you, 
    and you will receive the Investment Agreement and 
    Certificate of Investment. It is as easy as 1,2,3. </p>

  <h3 class="text-center mt-16 mb-4">Investment Plans</h3>

    <div class="flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4  lg:gap-10">

            <div class="card border w-[285px] ms-2 mt-14 mb-32 p-2 shadow-sm">
                <p class="cardHead text-center mt-5">Smart Investor</p>
            
                <div class="flex ms-2">
               <p class="price"> <span>&#8358;</span> 500,000</p> <span class="dash text-lg mx-2 text-black">-</span> <p class="price"><span>&#8358;</span> 5,000,000</p>
                </div>

               <div class="flex p-3 my-8">
                    <img src="assets/check.png" class="w-4 h-4 mt-[0.1rem] mr-2" alt="check">
                    <p class="cardTxt">Every 6 months you receive 
                        10% of  invested capital for a 
                        period of 2 Years</p>
                </div>

                <div class="flex px-3 my-8">
                    <img src="assets/check.png" class="w-4 h-4 mt-[0.1rem] mr-2" alt="check">
                    <p class="cardTxt">After 2 years, your investment
                        will be terminated. You can 
                       choose to collect or reinvest 
                       your capital</p>
                </div>

                <div class="text-center mt-[5.2rem]">
                <button class="rounded duration-500 bg-[#0072C6] text-white hover:bg-[#289416] transition-all p-2 my-2 px-4 w-60">Start Today</button>
                </div>
            </div>
            <div class="card border w-[285px] ms-2 mt-14 mb-32 p-2 shadow-sm">
                <p class="cardHead text-center mt-5">Premium Investor</p>
            
                <div class="flex ms-2">
               <p class="price"> <span>&#8358;</span> 5,100,000</p> <span class="dash text-lg mx-2 text-black">-</span> <p class="price"><span>&#8358;</span> 50,000,000</p>
                </div>

               <div class="flex p-3 my-8">
                    <img src="assets/check.png" class="w-4 h-4 mt-[0.1rem] mr-2" alt="check">
                    <p class="cardTxt">every six months, you receive 
                        15% of your invested capital for 
                        a period of 3 years</p>
                </div>

                <div class="flex px-3 my-8">
                    <img src="assets/check.png" class="w-4 h-4 mt-[0.1rem] mr-2" alt="check">
                    <p class="cardTxt">After 3 years, your investment 
                        will be terminated. You can 
                        choose to collect or reinvest 
                        your capital</p>
                </div>

                <div class="text-center mt-[3.4rem]">
                <button class="rounded duration-500 bg-[#0072C6] text-white hover:bg-[#289416] transition-all p-2 my-2 px-4 w-60">Start Today</button>
                </div>
            </div>

            <div class="card border w-[285px] ms-2 mt-14 mb-32 p-2 shadow-sm">
                <p class="cardHead text-center mt-5">Prestigious Investor</p>
            
                <div class="flex ms-2">
               <p class="price"> <span>&#8358;</span> 50,100,000</p> <span class="dash text-lg mx-2 text-black">-</span> <p class="price"><span>&#8358;</span> 500 Mn</p>
                </div>

               <div class="flex p-3 my-8">
                    <img src="assets/check.png" class="w-4 h-4 mt-[0.1rem] mr-2" alt="check">
                    <p class="cardTxt">you receive monthly reports 
                        on all Blue Earth Properties' 
                        investments and monthly
                         financial reports</p>
                </div>

                <div class="flex px-3 my-8">
                    <img src="assets/check.png" class="w-4 h-4 mt-[0.1rem] mr-2" alt="check">
                    <p class="cardTxt">20% returns on all Blue Earth
                        Properties' investments</p>
                </div>

                <div class="flex px-3 my-8">
                    <img src="assets/check.png" class="w-4 h-4 mt-[0.1rem] mr-2" alt="check">
                    <p class="cardTxt">This partnership is a lifetime 
                        partnership</p>
                </div>

                <div class="text-center my-5">
                <button class="rounded duration-500 bg-[#0072C6] text-white hover:bg-[#289416] transition-all p-2 my-2 px-4 w-60">Start Today</button>
                </div>
            </div>

            <div class="card border w-[285px] ms-2 mt-14 mb-32 p-2 shadow-sm">
                <p class="cardHead text-center mt-5">Lifetime Partner</p>
            
                <div class="flex ms-2">
               <p class="price"> <span>&#8358;</span> 500 Mn</p> <span class="dash text-lg mx-2 text-black">-</span> <p class="price"><span>&#8358;</span>1 Bn</p>
                </div>

               <div class="flex p-3 my-8">
                    <img src="assets/check.png" class="w-4 h-4 mt-[0.1rem] mr-2" alt="check">
                    <p class="cardTxt">you receive monthly report on 
                        all Blue Properties' investments 
                        and monthly financial reports</p>
                </div>

                <div class="flex px-3 my-8">
                    <img src="assets/check.png" class="w-4 h-4 mt-[0.1rem] mr-2" alt="check">
                    <p class="cardTxt">30% returns on all the Blue Earth 
                        Properties' investments</p>
                </div>

                <div class="flex px-3 my-8">
                    <img src="assets/check.png" class="w-4 h-4 mt-[0.1rem] mr-2" alt="check">
                    <p class="cardTxt">This partnership is a lifetime 
                        partnership</p>
                </div>

                <div class="text-center mt-[3.3rem]">
                <button class="rounded duration-500 bg-[#0072C6] text-white hover:bg-[#289416] transition-all p-2 my-2 px-4 w-60">Start Today</button>
                </div>
            </div>

            
        </div>
    </div>

</section>

    <app-footer></app-footer>