<div class="mb-5 mt-7 lg:mt-16">
<h3>Our Mission</h3>

<p>To sell our clients' properties in 60 days or less!</p>
</div>

<div class="mb-5 mt-7">
<h3>Our Vision</h3>

<p>To be a major player in the real estate industry in Nigeria and Africa at large.</p>
</div>

<div class="mb-5 mt-7">
<h3>Core Values</h3>

<p>Integrity | Commitment | Transparency</p>
</div>

<div class="mb-5 mt-7">
<h3>Our Mantra</h3>

<p>Everyone deserves a piece of paradise</p>
</div>

<div class="flex justify-between mt-3 mb-9">

<div routerLink="/about/who-we-are" class="justify-end  mr-4 mt-5 flex items-center lg:hidden"> 
    <span class="material-symbols-outlined text-[#0F2B8E] hover:font-semibold">
        navigate_before
        </span>    
        <a routerLink="/about/who-we-are"  class="text-[#0F2B8E] hover:font-semibold">Who We Are</a>
    </div>

<div routerLink="/about/meet-broker" class="justify-end  mr-4 mt-5 flex items-center lg:hidden">
    <a routerLink="/about/meet-broker"  class="text-[#0F2B8E] hover:font-semibold">Meet the Senior Broker</a> 
    <span routerLink="/about/meet-broker" class="material-symbols-outlined text-[#0F2B8E] cursor-pointer">
        navigate_next
        </span>    
    </div>

</div> 