.logoImg{
    max-width: 120px;
    height: 60px;
    cursor: pointer;
}

nav{
    /* background-color:var(--primaryColor) ; */
    font-family: var(--jak);
    font-size: 15px;
    font-weight: 400;
}

nav button:hover{
    color: var(--primaryColor);
}


a {
    position: relative;
    text-decoration: none;
  }

a:hover{
    color: white;
}  

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


.transparent{
    background-color: transparent;
    box-shadow: none !important;
}

.colored{
    background-color: #0072C6;
}

.swiped{
    height: 90vh;
}

.buyPropertyBtn{
    font-family: var(--jak);
}

swiper-container{
    height: 100vh;
    position: relative;
   top: -100px;
}

/* swiper-slide{
    position: relative;
} */

/* swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  } */

  .customSwiperSlide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }

.overlay-text{
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-32%, -50%);
    text-align: left;
    color: white;
    width: 100%; /* Ensures the text takes the full width of the slide */
    padding: 20px; /* Add padding to the text as needed */
    box-sizing: border-box; /* Include padding in the width */
    z-index: 1; 
}
 
  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

swiper-slide img{
    width: 1400px;
    height: 100%;
    object-fit: cover;
}
  

swiper-slide div h1{
    font-family: 'avenir',sans-serif;
    font-weight: 700;
    width: 70%;
}

swiper-slide div h3{
    font-family: 'avenir',sans-serif;
    font-weight: 700;
    width: 70%;
}

 .customParagraph{
    font-weight: 400 !important;
 }

  .sell{
    cursor: pointer !important;
  }

  .sell:hover{
    background-color: #0072C6 !important;
  }
/* 
.featured{
    background-color: var(--whiteAlt);

} */


.customContainer{
    height: 40vh !important;
    width: 40vw !important;
    background: white;
}

.customSlide{
    background: white;
}



.featured h3{
    color: var(--headingColor);
    font-family: 'avenir',sans-serif;
    font-weight: 700;
}

.overlay p{
    font-family: var(--poppins);
}

.card{
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

section{
    color: var(--txtColor);
}

.location p{
    font-family: var(--jak);

} 

.circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: rgb(15, 43, 142);
    border-radius: 50%;
}

.unique{
    font-family: var(--poppins);
}

.unique h3{
    font-weight: 700;
    font-family: 'avenir', sans-serif;
    color: var(--headingColor);
}

.unique>p{
    font-size: 17px !important;
}

.unique h4{
    font-weight: 500;
    font-size: 20px;
}


.unique p{
    font-weight: 300;
    font-size: 12px;
}

.listingSection{
  background-color:#F6F6F6;
}

.listingSection h3{
    font-size: 48px;
    font-family: 'avenir',sans-serif;
    font-weight: 700;
    color: var(--headingColor);
}

.view{
    background-color: var(--primaryColor);
    font-family: var(--jak);
    font-weight: 500;
}

.view:hover{
    background-color: #289416;
}

.listingSectionParag{
    font-weight: 300;
    font-family: var(--poppins);
}

.blogSection{
    background-color: var(--footerColor);
    color: white;
}

.blogSection h3{
    
    font-family: 'avenir',sans-serif;
    font-weight: 700;
}

.blogSection > p{
    font-family: var(--poppins);
}

.blogDetails h4{
    font-family: var(--inter);
    font-weight: 600;
    font-size: 24px;
}

.blogDetails h6{
    font-family: var(--poppins);
    font-size: 16px;
}

.blogDetails p{
    font-family: var(--poppins);
    font-size: 16px;
}

.investSection{
    height: 14vh;
    background-color: var(--footerColor);
}

.investSection h3{
   
    font-family: var(--poppins);
    font-weight: 300;
}

.investSection button{
    font-family: var(--jak);
    font-weight: 400;
}

.investSection button:hover{
    background-color: #3F3D56;
}