<nav class="sticky top-0 w-full shadow-md text-white py-[0.45rem]" [ngClass]="{'transparent': !isScrolled , 'colored': isScrolled}">
    <div class="w-[87%] mx-auto flex justify-between items-center">
       <img src="assets/logoOne.png" alt="companyLogo" class="logoImg" routerLink="/sell"> 
        <ul class="flex space-x-3">
            <li class="p-2"><a routerLink="/about">About</a></li>
            <li class="p-2"><a routerLink="">Listings</a></li>
            <li class="p-2"><a routerLink="/sell">Sell</a></li>
            <li class="p-2"><a routerLink="/sell">Invest</a></li>
            <li class="p-2"><a routerLink="">Resources</a></li>
            <li class="p-2"><a routerLink="/contact">Contact</a></li>
        </ul>

        <button class="border border-white rounded mt-[0.1rem] hover:bg-white py-1 px-5 transition-all hover:font-medium">
            Register
        </button>
    </div>
</nav>

    <swiper-container>
        <swiper-wrapper>
            <swiper-slide>
                <img src="assets/house2.png" alt="" class="imgOne">
                <div class="overlay text-white">
                    <div class="relative top-52 left-24">
                    <h3 class="text-5xl w-[45%]">Sell Properties in less than
                        60 Days</h3>
                        <p class="w-[40%] mt-4 mb-4">Blue Earth Properties is your one-stop portal for 
                            buying and selling real estate, connecting buyers
                            and sellers with seamless and efficient solutions.</p>
                            <div class="flex gap-2">
                                <button class="p-2 px-4 sell bg-[#FF6584] hover:bg-[#0072C6]  rounded shadow-sm">Buy a property</button>
                                <span>or</span>
                                <button class="p-2">Sell a property</button>
                            </div>
                        </div>
                        
                </div>
            </swiper-slide>

            <swiper-slide>
                <img src="assets/house1.jpeg" alt="" class="imgOne">
                <div class="overlay"></div>
            </swiper-slide>


            <swiper-slide>
                <img src="assets/house.jpeg" alt="" class="imgOne">
                <div class="overlay"></div>
            </swiper-slide>

        </swiper-wrapper>
    </swiper-container>
      

      
   
<section class="featured">
   <h3 class="text-5xl text-center py-4">Featured Properties</h3>
   <p class="text-center py-4">Get to know some of our favourite homes in Nigeria</p>
    
</section>

<section class="unique container mx-auto">
 <h3 class="text-center mt-9 mb-5">Why Blue Earth Stands Out?</h3>
 <p class="text-center text-xl mt-2 mb-10">Discover why Blue Earth Property is your go-to partner for selling properties.</p>

<div class="flex justify-center">

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10 ms-32 mt-10 mb-32">

        <div class="card hover:bg-[#0072C6] hover:text-white transition-all hover:translate-y-2 hover:translate-x-2 hover:shadow-lg border-[#FFFEFE] text-[#3F3D56] rounded w-[70%]">
            <div class="px-4 w-full ms-3">
            <img src="assets/magnify.png" alt="magnifyWealth" class="mt-4 w-10">
            <h4 class="mt-3">Magnify Wealth</h4>
            <p class="w-[90%] mb-6">Our primary mission is to guide our clients towards making sound real estate investments.</p>
            </div>
        </div>

        <div class="card hover:bg-[#0072C6] hover:text-white transition-all hover:translate-y-2 hover:translate-x-2 hover:shadow-lg border-[#FFFEFE] text-[#3F3D56] rounded w-[70%]">
            <div class="px-4 w-full ms-3">
            <img src="assets/time.png" alt="time" class="mt-4 w-10">
            <h4 class="mt-3">Swift Sales</h4>
            <p class="w-[90%] mb-6">We excel at selling properties for our clients in just 60 days or less.</p>
            </div>
        </div>

        <div class="card hover:bg-[#0072C6] hover:text-white transition-all hover:translate-y-2 hover:translate-x-2 hover:shadow-lg border-[#FFFEFE] text-[#3F3D56] rounded w-[70%]">
            <div class="px-4 w-full ms-3">
            <img src="assets/docs.png" alt="documented" class="mt-4 w-10">
            <h4 class="mt-3">Compliance</h4>
            <p class="w-[90%] mb-6">We are operate in compliance with the Nigeria Content Act</p>
            </div>
        </div>

        <div class="card hover:bg-[#0072C6] hover:text-white transition-all hover:translate-y-2 hover:translate-x-2 hover:shadow-lg border-[#FFFEFE] text-[#3F3D56] rounded w-[70%]">
            <div class="px-4 w-full ms-3">
            <img src="assets/agreement.png" alt="agreement" class="mt-4 w-10">
            <h4 class="mt-3">Wise Investments</h4>
            <p class="w-[90%] mb-6">Our focus is to help our clients invest their money wisely in real estate.</p>
            </div>
        </div>

        <div class="card hover:bg-[#0072C6] hover:text-white transition-all hover:translate-y-2 hover:translate-x-2 hover:shadow-lg border-[#FFFEFE] text-[#3F3D56] rounded w-[70%]">
            <div class="px-4 w-full ms-3">
            <img src="assets/star.png" alt="magnifyWealth" class="mt-4 w-10">
            <h4 class="mt-3">One Stop Realty</h4>
            <p class="w-[90%] mb-6">Consider us your all-in-one real estate solution provider.</p>
            </div>
        </div>

        <div class="card hover:bg-[#0072C6] hover:text-white transition-all hover:translate-y-2 hover:translate-x-2 hover:shadow-lg border-[#FFFEFE] text-[#3F3D56] rounded w-[70%]">
            <div class="px-4 w-full ms-3">
            <img src="assets/warning.png" alt="magnifyWealth" class="mt-4 w-10">
            <h4 class="mt-3">Beyond Agents</h4>
            <p class="w-[90%] mb-6">We are not real estate agents (realtors), we are real estate brokerage firm.</p>
            </div>
        </div>

    </div>

</div>

</section>


<section class="listingSection">
    
    <div class="w-[85%] mx-auto">
    <div class="flex justify-between items-center pt-10">
        <h3>Listings</h3>
        <button class="view text-white h-10 px-5 rounded transition-all">View More</button> 
    </div>

    <p class="w-[45%] my-2 listingSectionParag"> Explore a wide array of exceptional real estate opportunities in Nigeria,
        each promising a unique blend of comfort and investment potential.</p>
    </div>


    <div class="listed">

        <div class="flex">
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10 ms-[6.5rem] mt-10 mb-32">

                <div class="card bg-white rounded-sm">
                    <img src="" alt="propertyOne">
                    <h5 class="text-lg">3 Bedroom Terrace</h5>
                    <div class="flex">
                        <img src="" alt="">
                        <p>Lagos, Nigeria</p>
                    </div>
                    <p class="text-green-500">100,000,000</p>
                    <p>3 Bedrooms | 2 Toilets | 1Pool </p>
                </div>

            </div>
        </div>
        

    </div>
</section>

<section class="blogSection">
    <h3 class="text-center">THE BLUE BLOGS</h3>
    <p class="text-center mx-auto w-[75%]">Discover a wealth of knowledge in our real estate blog. From market trends to
        investment strategies, our articles are your compass in navigating Nigeria's 
       ever-evolving property landscape.</p>
    
    <div class="blogDetails">
        <div>
            <img src="" alt="avatar ImgOne">
            <h6>By : Author One</h6>
            <p>Description</p>
        </div>

        <hr class="w-[96%] mx-auto">

        <div>
            <img src="" alt="avatar ImgTwo">
            <p>By : Author Two</p>
            <p>Description</p>
        </div>

        <a routerLink="">Read More</a>
    </div>   
</section>

<hr>

<section class="investSection">

        <div class="flex justify-between w-[90%] text-white mx-auto pt-7 items-center">

        <h3>Invest in Real Estate Through Blue Earth Properties </h3>
        
        <button class="text-white p-2 bg-[#FF6584] px-8 rounded transition-all shadow-md">More Info</button>

        </div>

</section>

<hr>

<app-footer></app-footer>