<nav class="sticky top-0 w-full shadow-md text-white py-[0.45rem] z-50">
    <div class="w-[87%] mx-auto flex space-y-2 justify-between items-center">
       <img src="assets/logoOne.png" alt="companyLogo" routerLink=""> 
        <ul class="md:flex space-x-3 hidden">
            <li class="p-2"><a routerLink="/about">About</a></li>
            <li class="p-2"><a routerLink="/listings">Listings</a></li>
            <li class="p-2"><a routerLink="/sell">Sell</a></li>
            <li class="p-2"><a routerLink="/invest">Invest</a></li>
            <li class="p-2"><a routerLink="/blog">Blog</a></li>
            
        </ul>

        <button routerLink="/contact" class="hidden md:block border border-white rounded mt-[0.1rem] hover:bg-white py-2 px-3 transition-all hover:font-medium">
            Contact Us
        </button>
        
        <div class="block md:hidden">
            <i class="fa-solid fa-bars text-xl mx-5" sidebarjsToggle></i>
           </div>
    </div>
</nav>



<sidebarjs-element>
    <div class="mt-10 ms-9 mb-5" routerLink="">
        <img src="assets/logo.png" class="w-32" alt="companyLogo">
    </div>    
    <button routerLink="" class="hover:bg-[#0072C6] hover:text-white text-[#0072C6] text-left py-5 transition-all">
       <span class="ms-9 text-xl font-['poppins']"> Home</span>
    </button>
    
    <button routerLink="/about" class="hover:bg-[#0072C6] hover:text-white text-[#0072C6] text-left py-5 transition-all">
        <span class="ms-9 text-xl font-['poppins']">About</span>
     </button>
    
     <button routerLink="/listings" class="hover:bg-[#0072C6] hover:text-white text-[#0072C6] text-left py-5 transition-all">
        <span class="ms-9 text-xl font-['poppins']"> Listings</span>
     </button>
    
     <button routerLink="/sell" class="hover:bg-[#0072C6] hover:text-white text-[#0072C6] text-left py-5 transition-all">
        <span class="ms-9 text-xl font-['poppins']">Sell</span>
     </button>
    
    <button routerLink="/invest" class="hover:bg-[#0072C6] hover:text-white text-[#0072C6] text-left py-5 transition-all">
        <span class="ms-9 text-xl font-['poppins']">Invest</span>
     </button>
    
     <button routerLink="/blog" class="hover:bg-[#0072C6] hover:text-white text-[#0072C6] text-left py-5 transition-all">
        <span class="ms-9 text-xl font-['poppins']">Blog</span>
     </button>
    
     <button routerLink="/contact" class="hover:bg-[#0072C6] hover:text-white text-[#0072C6] text-left py-5 transition-all">
        <span class="ms-9 text-xl font-['poppins']">Contact Us</span>
     </button>
    
    </sidebarjs-element>
    