h2{
    font-family: 'avenir',sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: var(--headingColor);
    margin-top: 10%;
    margin-bottom: 2%;
}

p{
    color: #3F3D56;
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

@media screen and (max-width : 1023px) {
    h2 {
     font-size: 45px;
    }

    p{
        font-size:12px;
    }
  }

  @media screen and (max-width : 390px) {
    h2 {
     font-size: 30px;
    }

    p{
        font-size:10px;
    }
  } 