.active{
    border: 3px solid var(--primaryColor);
}

p{
    color: #3F3D56;
}

.description{
    font-size: 15px;
}

.book{
    font-family: var(--open);
}

.media{
    color: #0F2B8E ;
}


@media screen and (max-width : 600px) {

    .customImg{
     width: 20rem;
     height: 21rem;
    }

  } 